NODE_ENV=development
HOST=0.0.0.0
PORT=3000
TRUST_PROXY=false
PHOTOS_HOST_PATH=/srv/fabrica-museu/photos

# Rate limit (true/false)
RATE_LIMIT_ENABLED=true
RATE_LIMIT_PAGES_ENABLED=true
RATE_LIMIT_API_ENABLED=true

# Configurações
TZ=America/Sao_Paulo