<header class="cabecalho-principal">
    <div class="container navbar">
        <div class="logo">
            <a href="/">
                <span style="color: var(--cor-marca-verde); font-weight: bold; font-size: 1.5rem;">Museu do Vinho</span>
            </a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="#o-museu">O Museu</a></li>
                <li><a href="#acervo">Acervo</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </nav>
    </div>
</header>