<%- include('partials/head') %>
<%- include('partials/header') %>

<main>
    <section class="hero container">
        <div class="hero-conteudo">
            <h1>Descubra a História da Vitivinicultura</h1>
            <p>Um mergulho na cultura, nas memórias e nas tradições que moldaram Videira e região.</p>
            <br>
            <a href="#acervo" class="btn-principal">
                <i class="ph ph-magnifying-glass"></i> Explorar o Acervo
            </a>
        </div>
    </section>

    </main>

<%- include('partials/footer') %>