<article class="message is-warning is-light mb-5" aria-label="Aviso sobre uso de IA">
  <div class="message-body">
    <p class="has-text-weight-semibold">
      <span class="icon-text">
        <span class="icon is-small"><i class="fa-solid fa-robot" aria-hidden="true"></i></span>
        <span>Metadados gerados por IA</span>
      </span>
    </p>
    <p class="is-size-7 mt-1">
      Descrições, categorias, tags e demais informações deste acervo foram geradas automaticamente por inteligência
      artificial e podem conter imprecisões.
    </p>
  </div>
</article>
